<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="Google.Api.CommonProtos" version="1.1.0" targetFramework="net452" />
  <package id="Google.Api.Gax" version="2.1.0" targetFramework="net452" />
  <package id="Google.Api.Gax.Grpc" version="2.1.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.29.1" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.29.1" targetFramework="net452" />
  <package id="Google.Apis.Calendar.v3" version="1.25.0.857" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.29.1" targetFramework="net452" />
  <package id="Google.Cloud.Speech.V1" version="1.0.0" targetFramework="net452" />
  <package id="Google.LongRunning" version="1.0.0" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.4.1" targetFramework="net452" />
  <package id="Grpc.Auth" version="1.6.1" targetFramework="net452" />
  <package id="Grpc.Core" version="1.6.1" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.ProjectOxford.Common" version="1.0.250.0" targetFramework="net45" />
  <package id="Microsoft.ProjectOxford.Emotion" version="1.0.251.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" />
  <package id="WpfWebcamControl" version="3.2.0" targetFramework="net452" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net45" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>